  /* navigation menu styles */
nav ul li a {
    padding: 0.1em 1em;
  }

body {
    font-family:'Courier New', Courier, monospace, sans-serif;
    background-color: #fcf8fd;
}

h1 {
    color: rgb(10, 19, 121);
    text-align: left;
}

h2 {
    color: rgb(10, 19, 121);
    text-align: left;
}

h3 {
    color: rgb(10, 19, 121);
    text-align: left;
}

p {
    color: #000000;
    line-height: 1.6;
}

img {
    width: 25%; /* Makes image responsive to its container */
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    filter: grayscale(10%);
  }